h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

p {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.5rem;
}

#title {
    background-image: url(tyrion2.jpg);
    background-repeat: no-repeat;
    background-position: 20% top;
    background-attachment: fixed;
}

.navbar {
    padding: 40px 70px !important;
}

.navbar-brand {
    font-size: 2rem !important;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.nav-item {
    padding: 0 25px !important;
}

.nav-link {
    font-size: 1.2rem !important;
    font-weight: lighter !important;
}

#title {
    color: azure !important;
}

#title h1 {
    font-size: 5rem;
    text-align: right;
    margin: 20px 40px 0 0;
    font-family: 'Kaushan Script', cursive;
}

#title p {
    padding: 0 15px 0 0;
    font-size: 1.2rem;
    text-align: right;
    margin: 20px 35px 170px;
    box-shadow: 7px 0 white;
    font-family: 'Lumanosimo', cursive;
}

#about {
    padding: 7% 15%;
}

#moments {
    background: linear-gradient(270deg, rgba(125,144,161,1) 0%, rgba(203,210,220,1) 100%);
    color: #fff;
    font-weight: lighter;
    padding: 65px 100px 25px;
    text-align: center;
}

.moments-header {
    margin: 0 0 40px;
}
.wiki-link{
    padding: 30px 0 0;
    font-size: 1rem;
}

#contact {
    padding: 7% 15%;
    text-align: center;
}

#contact i {
    margin: 20px 10px;
}
#contact i:hover{
    color:darkgray;
}

#contact p {
    font-size: 0.9rem;
}

.video-cap {
    font-size: 1.2rem;
}